

body{
    font-family: arial;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
div#one {
	 margin-left: 20px;
}
div#oneone {
	 margin-left: 20px;
}
.place-items{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}
.hotel-name {
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 180px;
    height: 90px;
}
.tour-name {
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 133px;
    height: 90px;
}
.tour-book{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 89px;
    height: 90px;
}
.tour-username{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 84px;
    height: 90px;
}
.place-items ul{
    padding: 0;
    margin: 0;
}
.place-items form{
	margin : 20px;
}
.place-prop{
    float: left;
    border-left: 1px solid #ccc;
    line-height: 40px;
    padding: 0 10px;
}
.place-img{
    width: 120px;
    height: 90px;
    float: left;
}
.place-img img{
    width: 100px;
    padding: 5px;
    height: 70px;
}
.place-name{
    padding-left: 10px;
    border-right: 0;
    float: left;
    width: 210px;
	height : 90px;
}
.vehicle-name{
	padding-left: 10px;
    border-right: 0;
    float: left;
    width: 129px;
	height : 90px;
}
.place-id{
    padding-left: 10px;
    border-right: 0;
    float: left;
	height : 90px;
    width: 40px;
}
.place-button{
    float: right;
    border-left: 1px solid #ccc;
    border-right: 0;
    padding: 0 10px;
    width: 50px;
	height : 90px;
    text-align: center;
}
.clear-both{
    clear: both;
}
.place-items ul li{
    list-style: none;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
}
.place-items ul li:first-child{
    border-top: 1px solid #ccc;
}

.place-item-heading{
    text-align: center;
    font-weight: bold;
}
.place-item-heading .place-prop{
    height: 40px;
    line-height: 40px;
    background: #00CC99;
    color: #FFF;
}
.go-back{
	float: right;
    font-size: large;
    margin-right: 50px;
	margin-top: 5px;
}
.buttons{
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 38px;
}
.buttons a{
    color: #FFF;
    padding: 10px;
    background: #00CC99;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#admin-heading-panel{
    background: #00CC99;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
#admin-heading-panel a{
    color: #fff;
}
.left-panel{
    float: left;
}
.left-panel span{
    color: #eeff09;
    font-weight: bold;
}
.right-panel{
    float: right;
}
.right-panel img{
    vertical-align: middle;
}
.right-panel a{
    margin-right: 10px;
}
.left-menu{
    float: left;
    width: 280px;
}

.main-content{
    float: left;
    width: 900px;
    margin-left: 20px;
}
.main-content h1{
    margin: 0;
    text-align: left;
    background: #00CC99;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
}
#admin-footer{
    background: #00CC99;
    padding: 5px 0;
    line-height: 60px;
    color: #FFF;
}
#content-wrapper .container{
    padding: 15px 0;
}
.menu-heading{
    background: #00CC99;
    line-height: 20px;
    padding: 10px;
    color: #FFF;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
}
.menu-items ul{
    margin: 0;
    padding: 0;
}
.menu-items ul li{
    list-style: none;
    line-height: 30px;
    border-bottom: 1px dashed #ccc;
    padding-left: 15px;
}
.menu-items ul li a{
    color: #000;
}
.menu-items ul li:first-child{
    border-top: 0;
}
.menu-items{
    padding: 0 0px 15px 0px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
}
#pagination{
    text-align: right;
    margin-top: 15px;
}
.page-item{
    border: 1px solid #ccc;
    padding: 5px 9px;
    color: #000;
}
.current-page{
    background: #00CC99;
    color: #FFF;
}
#place-editing{
    border: 1px solid #ccc;
    padding: 20px;
}

#content-box{
    border: 1px solid #ccc;
    padding: 20px;
}

#place-form label {
    width: 150px;
    display: inline-block;
    float: left;
	padding-top: 15px;
}
#place-form input {
    margin-bottom: 10px;
    line-height: 32px;
    float: left;
}
#place-form textarea {
    width: 500px;
    height: 200px;
}
#place-form input[type=submit] {
    float: right;
    background: url('../images/save.png') center center no-repeat;
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border: 0;
    cursor: pointer;
}
#cke_place-content{
    float: left;
    width: 700px;
}
.right-wrap-field{
    float: left;
}
.wrap-field{
	padding-top: 5px;
	border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.wrap-field p{
	margin-left : 150px;
}
.search {
	margin: 20px;
}
.right-wrap-field img{
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}
.right-wrap-field input{
    float: none;
}
.right-wrap-field ul{
    padding: 0;
    margin: 0;
}
.right-wrap-field ul li{
    list-style: none;
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.right-wrap-field ul li a{
    position: absolute;
    background: rgba(0,0,0,0.1);
    color: #000;
    padding: 5px;
    bottom: 3px;
    right: 0;
}

.box-content{
    margin: 0 auto;
    width: 800px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}